#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: linear-gradient(180deg, rgba(96, 82, 105, 1) 0%, rgba(171, 91, 94, 1) 65%, rgba(210, 91, 83, 1) 100%);
  width: 100vw;
  height: 100vw;
}
